.elementor-element {
    width: 100%;
    height: 100vh;
    position: relative;
}

.elementor-gap{
    padding: 150px 0;
}

.elementor-gap-sm{
    padding: 75px 0;
}

.elementor-body{
    position: relative;
}

body{
    background-color: #f7f7f7;
}

.elementor-main-background{
    background-image: url(http://demo.gostarandev.com/Maco/wp-content/uploads/2018/01/maco-hero-bg-e1562400529189.jpg);
    background-position: center center;
    background-size: cover;
    background-origin: padding-box;
    background-attachment: fixed;
}

.elementor-backgroun-middle{
    background-image: url(https://c.wallhere.com/photos/30/3d/gym_disks_weight_bodybuilding-1190563.jpg!d);
    background-position: center center;
    background-size: cover;
}

.elementor-element-overlay {
    position: absolute;
    opacity: .5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
}

.elementor-shape[data-negative=false].elementor-shape-bottom {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    bottom: -1px;
}

.elementor-shape[data-negative=false].elementor-shape-top {
    /*-webkit-transform: rotate(180deg);*/
    /*-ms-transform: rotate(180deg);*/
    /*transform: rotate(180deg);*/
    top: -1px;
    /*transform : translateY(-%)*/
}

/*.elementor-shape-top svg{*/
/*transform: translateY(-50%) rotateY(180deg);*/
/*}*/
/**/
.elementor-shape {
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;
    direction: ltr;
}

.elementor-shape svg {
    height: 70px;
    display: block;
    width: calc(100% + 1.3px);
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%) rotateY(180deg);
    -ms-transform: translateX(-50%) rotateY(180deg);
    transform: translateX(-50%) rotateY(180deg);
}

.elementor-shape .elementor-shape-fill {
    fill: #fff;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.elementor-shape .elementor-shape-fill-beige{
    fill : #f7f7f7 ;
}

.elementor-shape .elementor-shape-fill-dark{
    fill : #444444;
}

.elementor-background-beige{
    background-color: #f7f7f7;
}

.elementor-background-dark{
    background-color: #444444;
}

a.nav-link, .navbar-text {
    color: #fff;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -ms-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

/*.hvr-underline-from-left:before {*/
a.nav-link:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #cb1313;
    height: 2.5px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

a.nav-link:hover , a.nav-link.active{
    color: #aaa;
}

a.nav-link:hover:before , a.nav-link.active:before {
    right: 0;
}

.elementor-content {
    color: #fff;
    direction: rtl;
    width: 100%;
    text-align: right;
}

.head-title {
    font-size: 44px;
    line-height: 50px;
    margin-bottom: 2rem;
    font-family: iransans_web_black;
}

.head-description {
    font-family: iransans_web_light;
    text-align: justify;
    margin-bottom: 3rem;
}

h3.title-3{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: iransans_web_medium;
}

h4.title-4{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: iransans_web_medium;
}

.elementor-box-item-content p{
    font-size: 13px;
    font-family: iransans_web;
    text-align: justify;
    direction: rtl;
}

@media (max-width: 1100px) {
    #collapsibleNavbar > div{
        flex-direction: column-reverse !important;
        align-items: flex-end !important;
    }
}

@media(max-width: 992px){
    .head-title{
        font-size: 37px;
        line-height: 43px;
    }
}

@media(max-width: 768px){

    .elementor-element{
        height: auto !important;
    }

    #collapsibleNavbar ul.navbar-nav:not(.d-none){
        width: 100%;
    }

    .head-title{
        font-size: 34px;
        line-height: 38px;
    }

    .head-description{
        font-size: small;
    }
}

@media(max-width: 576px){
    .head-title{
        font-size: 21px;
        line-height: 28px;
    }

    .head-description{
        text-align: right;
    }
}
