		@font-face {
  font-family: "Flaticon";
  src: url("../../fonts/flaticon.eot");
  src: url("../../fonts/flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("../../fonts/flaticon.woff") format("woff"),
       url("../../fonts/flaticon.ttf") format("truetype"),
       url("../../fonts/flaticon.html#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../../fonts/flaticon.html#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
 	font-family: Flaticon;
	font-style: normal;
}

.flaticon-shopping-cart-of-checkered-design:before { content: "\f100"; }
.flaticon-timer:before { content: "\f101"; }
.flaticon-blocks-with-angled-cuts:before { content: "\f102"; }
.flaticon-quote:before { content: "\f103"; }
.flaticon-next:before { content: "\f104"; }
.flaticon-phone-receiver:before { content: "\f105"; }
.flaticon-play:before { content: "\f106"; }
.flaticon-handshake:before { content: "\f107"; }
.flaticon-rss:before { content: "\f108"; }
.flaticon-comment:before { content: "\f109"; }
.flaticon-social-media:before { content: "\f10a"; }
.flaticon-calendar:before { content: "\f10b"; }
.flaticon-next-1:before { content: "\f10c"; }
.flaticon-phone-call:before { content: "\f10d"; }
.flaticon-placeholder:before { content: "\f10e"; }
.flaticon-settings:before { content: "\f10f"; }
.flaticon-link:before { content: "\f110"; }
.flaticon-garbage:before { content: "\f111"; }
.flaticon-internet:before { content: "\f112"; }
.flaticon-network:before { content: "\f113"; }
.flaticon-clock:before { content: "\f114"; }
.flaticon-clock-1:before { content: "\f115"; }
.flaticon-diamond:before { content: "\f116"; }
.flaticon-computer:before { content: "\f117"; }
.flaticon-e-mail-envelope:before { content: "\f118"; }
.flaticon-message:before { content: "\f119"; }
.flaticon-chat:before { content: "\f11a"; }
.flaticon-growth:before { content: "\f11b"; }
.flaticon-play-button:before { content: "\f11c"; }
.flaticon-right-arrow:before { content: "\f11d"; }
.flaticon-play-button-1:before { content: "\f11e"; }
.flaticon-play-button-2:before { content: "\f11f"; }
.flaticon-upload:before { content: "\f120"; }
.flaticon-multimedia:before { content: "\f121"; }
.flaticon-target:before { content: "\f122"; }
.flaticon-paper-plane:before { content: "\f123"; }
.flaticon-play-button-3:before { content: "\f124"; }
.flaticon-next-2:before { content: "\f125"; }
.flaticon-next-3:before { content: "\f126"; }
.flaticon-back:before { content: "\f127"; }
.flaticon-back-1:before { content: "\f128"; }
.flaticon-menu:before { content: "\f129"; }
.flaticon-menu-1:before { content: "\f12a"; }
.flaticon-menu-button:before { content: "\f12b"; }
.flaticon-menu-2:before { content: "\f12c"; }
.flaticon-magnifying-glass:before { content: "\f12d"; }
.flaticon-tick:before { content: "\f12e"; }
.flaticon-next-5:before { content: "\f12f"; }
.flaticon-back-2:before { content: "\f130"; }
.flaticon-smartphone:before { content: "\f131"; }
.flaticon-success:before { content: "\f132"; }
.flaticon-clock-2:before { content: "\f133"; }
.flaticon-placeholder-1:before { content: "\f134"; }
.flaticon-settings-1:before { content: "\f135"; }
.flaticon-stopwatch:before { content: "\f136"; }
.flaticon-substract:before { content: "\f137"; }
.flaticon-mortarboard:before { content: "\f138"; }
.flaticon-exam:before { content: "\f139"; }
.flaticon-attachment:before { content: "\f13a"; }
.flaticon-headset:before { content: "\f13b"; }
.flaticon-download-arrow:before { content: "\f13c"; }
.flaticon-plus-symbol:before { content: "\f13d"; }
.flaticon-bar-chart:before { content: "\f13e"; }
.flaticon-startup:before { content: "\f13f"; }
.flaticon-diamond-1:before { content: "\f140"; }
.flaticon-headphones:before { content: "\f141"; }
.flaticon-money-bag:before { content: "\f142"; }
.flaticon-coin:before { content: "\f143"; }
.flaticon-piggy-bank:before { content: "\f144"; }
.flaticon-like:before { content: "\f145"; }
.flaticon-cancel:before { content: "\f146"; }
.flaticon-cancel-1:before { content: "\f147"; }
.flaticon-share:before { content: "\f148"; }
.flaticon-share-1:before { content: "\f149"; }
.flaticon-price-tag:before { content: "\f14a"; }
.flaticon-tag:before { content: "\f14b"; }
.flaticon-right-quotation-mark:before { content: "\f14c"; }
.flaticon-quote-left:before { content: "\f14d"; }
.flaticon-quote-1:before { content: "\f14e"; }
.flaticon-quotations:before { content: "\f14f"; }
.flaticon-quote-2:before { content: "\f150"; }
.flaticon-left-quote:before { content: "\f151"; }
.flaticon-left-quote-1:before { content: "\f152"; }
.flaticon-quote-sign:before { content: "\f153"; }
.flaticon-right-quote-sign:before { content: "\f154"; }
.flaticon-left-quotes:before { content: "\f155"; }
.flaticon-electrician:before { content: "\f156"; }
.flaticon-map:before { content: "\f157"; }
.flaticon-clock-3:before { content: "\f158"; }
.flaticon-hourglass:before { content: "\f159"; }
.flaticon-email:before { content: "\f15a"; }
.flaticon-email-1:before { content: "\f15b"; }
.flaticon-briefcase:before { content: "\f15c"; }
.flaticon-briefcase-1:before { content: "\f15d"; }
.flaticon-contract:before { content: "\f15e"; }
.flaticon-document:before { content: "\f15f"; }
.flaticon-cap:before { content: "\f160"; }
.flaticon-medal:before { content: "\f161"; }
.flaticon-coffee-cup:before { content: "\f162"; }
.flaticon-straight-quotes:before { content: "\f163"; }
.flaticon-cooperation:before { content: "\f164"; }
.flaticon-pdf:before { content: "\f165"; }
.flaticon-pdf-1:before { content: "\f166"; }
.flaticon-back-3:before { content: "\f167"; }
.flaticon-reply:before { content: "\f168"; }
.flaticon-reply-1:before { content: "\f169"; }
.flaticon-law:before { content: "\f16a"; }
.flaticon-statistics:before { content: "\f16b"; }
.flaticon-line-chart:before { content: "\f16c"; }
.flaticon-direction:before { content: "\f16d"; }
.flaticon-eye:before { content: "\f16e"; }
.flaticon-share-option:before { content: "\f16f"; }
.flaticon-notebook-computer:before { content: "\f170"; }
.flaticon-student:before { content: "\f171"; }
.flaticon-layers:before { content: "\f172"; }
.flaticon-comment-1:before { content: "\f173"; }
.flaticon-paper:before { content: "\f174"; }
.flaticon-home:before { content: "\f175"; }
.flaticon-house:before { content: "\f176"; }
.flaticon-download:before { content: "\f177"; }
.flaticon-hand-shake:before { content: "\f178"; }
.flaticon-hand-shake-1:before { content: "\f179"; }
.flaticon-planet-earth:before { content: "\f17a"; }
.flaticon-map-1:before { content: "\f17b"; }
.flaticon-next-6:before { content: "\f17c"; }
.flaticon-next-7:before { content: "\f17d"; }
.flaticon-next-8:before { content: "\f17e"; }
.flaticon-chronometer:before { content: "\f17f"; }
.flaticon-monitor:before { content: "\f180"; }
.flaticon-left-arrow:before { content: "\f181"; }
.flaticon-back-4:before { content: "\f182"; }
.flaticon-back-6:before { content: "\f183"; }
.flaticon-eye-1:before { content: "\f184"; }
.flaticon-menu-3:before { content: "\f185"; }
.flaticon-telephone:before { content: "\f186"; }
.flaticon-world:before { content: "\f187"; }
.flaticon-menu-4:before { content: "\f188"; }
.flaticon-menu-5:before { content: "\f189"; }
.flaticon-play-button-4:before { content: "\f18a"; }
.flaticon-play-button-5:before { content: "\f18b"; }
.flaticon-play-rounded-button:before { content: "\f18c"; }
.flaticon-calendar-1:before { content: "\f18d"; }
.flaticon-route:before { content: "\f18e"; }
.flaticon-marker:before { content: "\f18f"; }
.flaticon-gps:before { content: "\f190"; }
.flaticon-big-anchor:before { content: "\f191"; }
.flaticon-verified:before { content: "\f192"; }
.flaticon-check:before { content: "\f193"; }
.flaticon-shopping-cart:before { content: "\f194"; }
.flaticon-link-1:before { content: "\f195"; }
.flaticon-customer-service:before { content: "\f196"; }
.flaticon-user:before { content: "\f197"; }
.flaticon-pin:before { content: "\f198"; }
.flaticon-search:before { content: "\f199"; }
.flaticon-global:before { content: "\f19a"; }
.flaticon-chain:before { content: "\f19b"; }
.flaticon-back-7:before { content: "\f19c"; }
.flaticon-cart:before { content: "\f19d"; }
.flaticon-null:before { content: "\f19e"; }
.flaticon-question:before { content: "\f19f"; }
.flaticon-quote-3:before { content: "\f1a0"; }
.flaticon-folder:before { content: "\f1a1"; }
.flaticon-share-2:before { content: "\f1a2"; }
.flaticon-reload:before { content: "\f1a3"; }
.flaticon-phone:before { content: "\f1a4"; }
.flaticon-world-1:before { content: "\f1a5"; }
.flaticon-mail:before { content: "\f1a6"; }
.flaticon-note:before { content: "\f1a7"; }
.flaticon-stopwatch-1:before { content: "\f1a8"; }
.flaticon-clock-4:before { content: "\f1a9"; }
.flaticon-envelope:before { content: "\f1aa"; }
.flaticon-letter:before { content: "\f1ab"; }
.flaticon-add:before { content: "\f1ac"; }
.flaticon-send:before { content: "\f1ad"; }
.flaticon-add-1:before { content: "\f1ae"; }
.flaticon-substract-1:before { content: "\f1af"; }
.flaticon-magnifying-glass-1:before { content: "\f1b0"; }
.flaticon-search-1:before { content: "\f1b1"; }
.flaticon-magnifier-tool:before { content: "\f1b2"; }
.flaticon-target-1:before { content: "\f1b3"; }
.flaticon-soap:before { content: "\f1b4"; }
.flaticon-tablet:before { content: "\f1b5"; }
.flaticon-first-aid-kit:before { content: "\f1b6"; }
.flaticon-pill:before { content: "\f1b7"; }
.flaticon-doctor:before { content: "\f1b8"; }
.flaticon-medical-kit-bag:before { content: "\f1b9"; }
.flaticon-first-aid-bag-outline:before { content: "\f1ba"; }
.flaticon-stomach:before { content: "\f1bb"; }
.flaticon-stomach-1:before { content: "\f1bc"; }
.flaticon-first-aid-handbag:before { content: "\f1bd"; }
.flaticon-heart:before { content: "\f1be"; }
.flaticon-doctor-1:before { content: "\f1bf"; }
.flaticon-doctor-stethoscope:before { content: "\f1c0"; }
.flaticon-medical-doctor-specialist:before { content: "\f1c1"; }
.flaticon-doctor-2:before { content: "\f1c2"; }
.flaticon-new-user:before { content: "\f1c3"; }
.flaticon-phone-1:before { content: "\f1c4"; }
.flaticon-ambulance:before { content: "\f1c5"; }
.flaticon-drugs:before { content: "\f1c6"; }
.flaticon-plaster:before { content: "\f1c7"; }
.flaticon-medicine:before { content: "\f1c8"; }
.flaticon-drugs-1:before { content: "\f1c9"; }
.flaticon-doctor-3:before { content: "\f1ca"; }
.flaticon-medical:before { content: "\f1cb"; }
.flaticon-human-heart:before { content: "\f1cc"; }
.flaticon-patient:before { content: "\f1cd"; }
.flaticon-avatar:before { content: "\f1ce"; }
.flaticon-user-1:before { content: "\f1cf"; }
.flaticon-user-2:before { content: "\f1d0"; }
.flaticon-folder-1:before { content: "\f1d1"; }
.flaticon-document-1:before { content: "\f1d2"; }
.flaticon-24-hours:before { content: "\f1d3"; }
.flaticon-messenger:before { content: "\f1d4"; }
.flaticon-messenger-1:before { content: "\f1d5"; }
.flaticon-up-arrow:before { content: "\f1d6"; }
.flaticon-upload-1:before { content: "\f1d7"; }
.flaticon-placeholder-on-map-paper-in-perspective:before { content: "\f1d8"; }
.flaticon-map-pin-marked:before { content: "\f1d9"; }
.flaticon-placeholder-2:before { content: "\f1da"; }
.flaticon-alarm-clock:before { content: "\f1db"; }
.flaticon-menu-6:before { content: "\f1dc"; }
.flaticon-shopping-cart-1:before { content: "\f1dd"; }
.flaticon-shopping-cart-2:before { content: "\f1de"; }
.flaticon-supermarket:before { content: "\f1df"; }
.flaticon-call:before { content: "\f1e0"; }
.flaticon-person-lying-on-a-beach-under-an-umbrella:before { content: "\f1e1"; }
.flaticon-massage:before { content: "\f1e2"; }
.flaticon-relax:before { content: "\f1e3"; }
.flaticon-sun-bath:before { content: "\f1e4"; }
.flaticon-atomic:before { content: "\f1e5"; }
.flaticon-trophy:before { content: "\f1e6"; }
.flaticon-award:before { content: "\f1e7"; }
.flaticon-trophy-1:before { content: "\f1e8"; }
.flaticon-video:before { content: "\f1e9"; }
.flaticon-camera:before { content: "\f1ea"; }
.flaticon-folder-2:before { content: "\f1eb"; }
.flaticon-virus:before { content: "\f1ec"; }
.flaticon-ekg-monitor:before { content: "\f1ed"; }
.flaticon-cardiogram:before { content: "\f1ee"; }
.flaticon-timetable:before { content: "\f1ef"; }
.flaticon-calendar-with-a-clock-time-tools:before { content: "\f1f0"; }
.flaticon-calendar-2:before { content: "\f1f1"; }
.flaticon-abacus-hand-drawn-tool:before { content: "\f1f2"; }
.flaticon-money-abacus-tool-to-count:before { content: "\f1f3"; }